<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <f:metadata>
                        <f:viewParam name="proc"  value="#{beanDocumentos.proceso}"/>
                        <f:viewParam name="prog"  value="#{beanDocumentos.programa}"/> 
                        <f:viewParam name="critId"  value="#{beanDocumentos.criterioId}"/> 
                        <f:viewParam name="fueId"  value="#{beanDocumentos.fuenteId}"/> 
                        <f:viewParam name="fuent"  value="#{beanDocumentos.fuenteNomb}"/> 
                    </f:metadata>
                    <h:panelGrid columns="1" width="1000" style="margin: 0 auto"> 

                        <h:panelGrid columns="3" cellspacing="2">

                            <p:outputLabel value="FACULTAD" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value="Ingeniería de Sistemas" style="display: block;font-size: 18px"/>

                            <p:outputLabel value="PROGRAMA" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value="#{beanDocumentos.programa}" style="display: block;font-size: 18px;margin-top: 5px"/>

                            <p:outputLabel value="PROCESO" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value="#{beanDocumentos.proceso}" style="display: block;font-size: 18px;margin-top: 5px"/>


                            <p:outputLabel value="CRITERIO" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value="#{beanDocumentos.criterioNomb}" style="display: block;font-size: 18px;margin-top: 5px"/>


                            <p:outputLabel value="FUENTE" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value="#{beanDocumentos.fuenteNomb}" style="display: block;font-size: 18px;margin-top: 5px"/>


                        </h:panelGrid>

                        <h:panelGrid columns="2" cellspacing="10">
                           
                            
                            <p:panel header="SUBIR ARCHIVO">
                                <h:panelGrid columns="2">
                                    <p:fileUpload value="#{beanDocumentos.file}" mode="simple" skinSimple="true" label="Seleccionar Archivo"/>
                                    <p:commandButton value="Cargar" ajax="false" actionListener="#{beanDocumentos.upload}"/>
                                </h:panelGrid>
                            </p:panel>
                            
                            <p:panel header="VALIDAR FUENTE">
                                <h:panelGrid columns="3">
                                    <p:selectBooleanCheckbox value="#{beanDocumentos.validado}" />
                                    <h:outputText value=" Fuente Validada" />

                                    <p:commandButton value="VALIDAR" style="float: right;"
                                                     actionListener="#{beanDocumentos.guardarValidacion}">
                                    </p:commandButton>
                                </h:panelGrid>
                            </p:panel>
                        </h:panelGrid>

                        <p:panel id="Pa5" header="DOCUMENTOS" visible="true">



                            <h:panelGrid columns="1" style="margin: 0 auto">
                                <p:dataTable id="tabla2" var="Documento"  value="#{beanDocumentos.documentos}" 
                                             selectionMode="single" selection="#{beanDocumentos.elegido}" rowKey="#{Documento[0]}"
                                             style="width: 550px;margin-top: 15px;margin-bottom: 10px">

                                    <p:ajax event="rowSelect" listener="#{beanDocumentos.cargarFileDownload}"/>
                                    <p:column headerText="Nombre" style="width: 450px">
                                        #{Documento[1]}
                                    </p:column>


                                </p:dataTable>




                            </h:panelGrid>
                            <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">

                                <p:fileDownload value="#{beanDocumentos.fileDown}" />
                            </p:commandButton>
                            <script type="text/javascript">
                                function start() {
                                    PF('statusDialog').show();
                                }

                                function stop() {
                                    PF('statusDialog').hide();
                                }
                            </script>


                        </p:panel>



                    </h:panelGrid>

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
