<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">

                <h:form id="form">


                    <h:panelGrid columns="1" width="1000" style="margin: 0 auto">
                        <h:panelGrid columns="3" cellspacing="15" style="margin: 0 auto">
                            <h:panelGrid id="Pa1" columns="2" cellspacing="3" >

                                <h:outputLabel value="Programa :" style="display: block; font-size: 16px;font-weight: bold" />

                                <p:selectOneMenu value="#{beanGestionDocumentos.programa}" style="width: 150px">
                                    <f:selectItem itemLabel="Select One" itemValue="" />
                                    <f:selectItems value="#{beanGestionDocumentos.list_prog}" />
                                    <p:ajax listener="#{beanGestionDocumentos.actualizarProcesos}" update="Pa2"/>
                                </p:selectOneMenu>


                            </h:panelGrid>

                            <p:outputPanel id="Pa2" autoUpdate="true" >
                                <h:panelGrid  columns="2" cellspacing="3" rendered="#{beanGestionDocumentos.pa1}">

                                    <h:outputLabel value="Proceso :"  style="display: block; font-size: 16px;font-weight: bold"/>

                                    <p:selectOneMenu value="#{beanGestionDocumentos.proceso}" style="width: 150px">
                                        <f:selectItem itemLabel="Select One" itemValue="" />
                                        <f:selectItems value="#{beanGestionDocumentos.list_proc}" />
                                        <p:ajax listener="#{beanGestionDocumentos.actualizarBtn0}" update="Pa3,B0"/>
                                    </p:selectOneMenu>



                                </h:panelGrid>
                            </p:outputPanel>



                            <p:commandButton id="B0" value="CARGAR NIVELES" update="Pa3" actionListener="#{beanGestionDocumentos.cargarNiveles}" disabled="#{beanGestionDocumentos.btn0}"/>



                        </h:panelGrid>

                        <p:outputPanel id="Pa3" autoUpdate="true" >
                            <p:panel header="JERARQUIA" visible="#{beanGestionDocumentos.pa3}">
                                <h:panelGrid columns="#{beanGestionDocumentos.num_Niv}" style="margin: 0 auto" >

                                    <p:outputLabel value="#{beanGestionDocumentos.losNiveles[0]}"  styleClass="encabezado" rendered="#{beanGestionDocumentos.mostrar[0]}"/>
                                    <p:outputLabel value="#{beanGestionDocumentos.losNiveles[1]}"  styleClass="encabezado" rendered="#{beanGestionDocumentos.mostrar[1]}"/>
                                    <p:outputLabel value="#{beanGestionDocumentos.losNiveles[2]}"  styleClass="encabezado" rendered="#{beanGestionDocumentos.mostrar[2]}"/>
                                    <p:outputLabel value="#{beanGestionDocumentos.losNiveles[3]}"  styleClass="encabezado" rendered="#{beanGestionDocumentos.mostrar[3]}"/>



                                    <p:selectOneListbox id="N1"  styleClass="fuente" scrollHeight="100" value="#{beanGestionDocumentos.sn1}" 
                                                        rendered="#{beanGestionDocumentos.mostrar[1]}">
                                        <f:selectItems value="#{beanGestionDocumentos.l1}"  />
                                        <p:ajax  update="N2,N3,N4,bot" listener="#{beanGestionDocumentos.cargar_N2()}"/>
                                    </p:selectOneListbox>

                                    <p:selectOneListbox id="N2" styleClass="fuente" scrollHeight="100" value="#{beanGestionDocumentos.sn2}" 
                                                        rendered="#{beanGestionDocumentos.mostrar[1]}">
                                        <f:selectItems value="#{beanGestionDocumentos.l2}"  />
                                        <p:ajax  update="N3,N4,bot" listener="#{beanGestionDocumentos.cargar_N3()}"/>
                                    </p:selectOneListbox>

                                    <p:selectOneListbox id="N3" styleClass="fuente" scrollHeight="100" value="#{beanGestionDocumentos.sn3}"
                                                        rendered="#{beanGestionDocumentos.mostrar[2]}">
                                        <f:selectItems value="#{beanGestionDocumentos.l3}"  />
                                        <p:ajax  update="N4,bot" listener="#{beanGestionDocumentos.cargar_N4()}"/>
                                    </p:selectOneListbox>

                                    <p:selectOneListbox id="N4" styleClass="fuente" scrollHeight="100" value="#{beanGestionDocumentos.sn4}"
                                                        rendered="#{beanGestionDocumentos.mostrar[3]}">
                                        <f:selectItems value="#{beanGestionDocumentos.l4}"  />
                                    </p:selectOneListbox>

                                    <f:facet name="footer">
                                        <p:commandButton id="bot" value="Cargar Criterios" style="float: right" disabled="#{beanGestionDocumentos.btn1}"
                                                         update="Pa4" actionListener="#{beanGestionDocumentos.cargarCriterios}"/>
                                    </f:facet>
                                </h:panelGrid>

                            </p:panel>
                        </p:outputPanel>

                        <p:panel id="Pa4" header="LISTA DE CRITERIOS" visible="#{beanGestionDocumentos.pa4}">


                            <h:panelGrid columns="1" style="margin: 0 auto">
                                <p:dataTable id="tabla" var="criterio"  value="#{beanGestionDocumentos.criterios}" style="width: 750px;margin-top: 15px;margin-bottom: 10px">
                                    <p:column headerText="Descripción" style="width: 450px">

                                        #{criterio[1]}
                                    </p:column>

                                    <p:column headerText="% Ingresados">
                                        #{criterio[2]}
                                    </p:column>

                                    <p:column headerText="% Validados">
                                        #{criterio[3]}
                                    </p:column>

                                    <p:column>

                                        <p:commandButton value="Cargar" >


                                            <p:ajax listener="#{beanGestionDocumentos.cargarUnCriterio(criterio[0])}" update=":form:Pa5"/>
                                        </p:commandButton>
                                    </p:column>

                                </p:dataTable>


                            </h:panelGrid>


                        </p:panel>


                        <p:panel id="Pa5" header="FUENTES DE VERIFICACION" visible="#{beanGestionDocumentos.pa5}">



                            <h:panelGrid columns="1" style="margin: 0 auto">
                                <p:dataTable id="tabla2" var="fuente"  value="#{beanGestionDocumentos.lasFuentes}" style="width: 860px;margin-top: 15px;margin-bottom: 10px">
                                    <p:column headerText="Descripción" style="width: 450px">

                                        #{fuente[1]}
                                    </p:column>

                                    <p:column headerText="Tipo">
                                        #{fuente[2]}
                                    </p:column>

                                    <p:column headerText="Obligatorio">
                                        <p:selectBooleanCheckbox value="#{fuente[3] eq 'Y'}" disabled="true"/>
                                    </p:column>
                                    
                                     <p:column headerText="Estado">
                                        #{fuente[4]}
                                    </p:column>

                                    <p:column>



                                        <p:button value="Ver Detalles" outcome="Añadir_doc">
                                            <f:param name="proc"  value="#{beanGestionDocumentos.proceso}"/>
                                            <f:param name="prog"  value="#{beanGestionDocumentos.programa}"/> 
                                            <f:param name="critId"  value="#{beanGestionDocumentos.criterioSelec}"/> 
                                            <f:param name="fueId"  value="#{fuente[0]}"/> 
                                            <f:param name="fuent"  value="#{fuente[1]}"/> 

                                        </p:button>
                                    </p:column>

                                </p:dataTable>




                            </h:panelGrid>


                        </p:panel>

                    </h:panelGrid>    

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
