<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Template/Plantilla.xhtml">


            <ui:define name="content">


                <h:form id="form">

                    <f:metadata>
                        <f:viewParam name="cod" value="#{beanProcesos.codigo_fac}"/>
                        <f:viewParam name="fac" value="#{beanProcesos.facultad}"/>
                        <f:viewParam name="nom" value="#{beanProcesos.programa}"/>
                    </f:metadata>

                    <h:panelGrid columns="1" width="1000" style="margin: 0 auto">

                        <h:panelGrid columns="3" cellspacing="2">

                            <p:outputLabel value="FACULTAD" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value="#{beanProcesos.facultad}" style="display: block;font-size: 18px"/>

                            <p:outputLabel value="PROGRAMA" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold;margin-top: 5px"/>
                            <p:outputLabel value="#{beanProcesos.programa}" style="display: block;font-size: 18px;margin-top: 5px"/>

                        </h:panelGrid>

                        <h:panelGrid columns="5" cellspacing="2">
                            <p:commandButton value="ASOCIAR PROCESO" onclick="PF('dlg').show();"/>

                            <p:dialog header="ASOCIAR PROCESO" widgetVar="dlg" resizable="false" modal="true">
                                <h:panelGrid columns="1" cellpadding="2">

                                    <h:panelGrid columns="2" cellspacing="2">
                                        <h:outputLabel value="Proceso" />

                                        <p:selectOneMenu id="box" value="#{beanProcesos.seleccionado}" style="width: 150px">

                                            <f:selectItems value="#{beanProcesos.lista}" />
                                        </p:selectOneMenu>
                                    </h:panelGrid>    

                                    <h:panelGrid columns="2" cellspacing="1">
                                        <p:selectBooleanCheckbox value="#{beanProcesos.v_a}" />
                                        <h:outputLabel value="Validación habilitada" />

                                        <p:selectBooleanCheckbox value="#{beanProcesos.c_o}" />
                                        <h:outputLabel value="Considera Opcionales" />
                                    </h:panelGrid>  

                                    <f:facet name="footer">
                                        <p:commandButton value="INGRESAR" actionListener="#{beanProcesos.AsociarUnProceso}"  update="box,tabla"
                                                         oncomplete="handleLoginRequest(xhr, status, args)" />
                                    </f:facet>  
                                </h:panelGrid>
                            </p:dialog>

                            <script type="text/javascript">
                                function handleLoginRequest(xhr, status, args) {
                                    if (args.validationFailed || !args.loggedIn) {
                                        PF('dlg').jq.effect("shake", {times: 5}, 100);
                                    } else {
                                        PF('dlg').hide();
                                        $('#loginLink').fadeOut();
                                    }
                                }
                            </script>    
                        </h:panelGrid>


                        <p:carousel  id="tabla" value="#{beanProcesos.listaProcesos}" headerText="LISTA DE PROCESOS" var="procesos" itemStyle="text-align:center" responsive="true"
                                     style="width: 1000px">
                            <h:panelGrid columns="1"  cellspacing="3" style="width: 330px" >

                                <f:facet name="header">
                                    <h:outputText value="#{procesos}" />
                                </f:facet>
                                <h:panelGrid columns="2" style="margin: 0 auto">
                                    <p:commandButton value="Ver Detalles" style="font-size: 12px"/>
                                    <p:button value="Definir Criterios" style="font-size: 12px;" outcome="Definir_Criterios">
                                        <f:param name="cod"  value="#{beanProcesos.codigo_fac}"/>
                                        <f:param name="fac"  value="#{beanProcesos.facultad}"/>
                                        <f:param name="nom"  value="#{beanProcesos.programa}"/>
                                        <f:param name="nomp"  value="#{procesos}"/> 


                                    </p:button>
                                </h:panelGrid>



                            </h:panelGrid>


                        </p:carousel>




                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
