<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">

                <h:form id="form">
                    <h:panelGrid columns="1" width="1000" style="margin: 0 auto">

                       <p:graphicImage name="Imagenes/Gestionar_Programas.png" width="1000"/>
                        <p:commandButton value="REGISTRAR PROGRAMA" onclick="PF('dlg').show();"/>

                        <p:dialog header="REGISTRAR PROGRAMA" widgetVar="dlg" resizable="false" modal="true">
                            <h:panelGrid columns="3" cellpadding="2">
                                <h:outputLabel value="CODIGO" style="display: block;font-weight: bold;" />
                                <h:outputLabel value=":" style="display: block;font-weight: bold;" />
                                <p:inputText id="Cod" value="#{verPrograma.n_cod}" style="width: 200px"/>

                                <h:outputLabel value="NOMBRE" style="display: block;font-weight: bold;" />
                                <h:outputLabel value=":" style="display: block;font-weight: bold;" />
                                <p:inputText id="Nom" value="#{verPrograma.n_nom}" style="width: 200px"/>


                                <h:outputLabel value="FACULTAD" style="display: block;font-weight: bold;" />
                                <h:outputLabel value=":" style="display: block;font-weight: bold;" />
                                <p:selectOneMenu id="car" value="#{verPrograma.n_fac}" style="width: 181px"  >
                                    <f:selectItem itemLabel="Elija una Opcíón" itemValue="" />
                                    <f:selectItems value="#{verPrograma.facultades}" />
                                </p:selectOneMenu>


                                <f:facet name="footer">
                                    <p:commandButton id="accion" value="Registrar" actionListener="#{verPrograma.accionRegistrar}" update="Cod,Nom,:form:tabla"
                                                     oncomplete="handleLoginRequest(xhr, status, args)" style="float: right" />
                                </f:facet>
                            </h:panelGrid>
                        </p:dialog>

                        <script type="text/javascript">
                            function handleLoginRequest(xhr, status, args) {
                                if (args.validationFailed || !args.loggedIn) {
                                    PF('dlg').jq.effect("shake", {times: 5}, 100);
                                } else {
                                    PF('dlg').hide();
                                    $('#loginLink').fadeOut();
                                }
                            }
                        </script>

                        <p:dataTable id="tabla" var="programa" value="#{verPrograma.listaProgramas}" >

                            <p:column headerText="CODIGO">
                                <p:outputLabel value="#{programa[0]}"/>
                            </p:column>

                            <p:column headerText="FACULTAD">
                                <p:outputLabel value="#{programa[1]}"/>
                            </p:column>

                            <p:column headerText="NOMBRE">
                                <p:outputLabel value="#{programa[2]}"/>
                            </p:column>

                            <p:column width="83">


                                <p:button value="Ingresar" outcome="Principal_Procesos" >
                                    <f:param name="cod"  value="#{programa[0]}"/>
                                    <f:param name="fac"  value="#{programa[1]}"/>
                                    <f:param name="nom"  value="#{programa[2]}"/>
                                </p:button>

                            </p:column>




                        </p:dataTable>



                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
