<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./../Template/Plantilla.xhtml">




            <ui:define name="content">
                <h:form>

                    <h:outputStylesheet name="css/E_niveles.css"/>
                    <p:growl id="growl" life="2000" />


                    <p:panelGrid style="width: 1000px; margin : 0 auto">
                        <p:row>
                            <p:column colspan="7">
                                <p:graphicImage name="Imagenes/Registrar_Proceso.png" width="1000"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="7">
                                <h:panelGrid columns="3">
                                    <h:outputLabel for="nom" value="Nombre del proceso"  style="font-size: 16px;display: block;margin-bottom: 6px;margin-top: 6px"/>
                                    <h:outputLabel value=":"  style="font-size: 16px;display: block;margin-bottom: 6px;margin-top: 6px"/>
                                    <p:inputText id="nom" value="#{r_Proceso.proceso}" required="true" label="nom"  style="font-size: 16px;width: 300px;margin-bottom: 6px;margin-top: 6px"/>

                                    <h:outputLabel for="des" value="Descripción del proceso"  style="font-size: 16px;height: 100px; display: block  "/>
                                    <h:outputLabel value=":"  style="font-size: 16px;display: block;height: 100px"/>
                                    <p:inputTextarea value="#{r_Proceso.descripcion}" rows="5" cols="60" counter="display" maxlength="150" counterTemplate="{0} caracteres restantes."/>
                                    <h:outputLabel/>
                                    <h:outputLabel/>
                                    <h:outputText id="display" />
                                </h:panelGrid>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="7">
                                <h:panelGrid columns="2" style="margin-top: 10px;">
                                    <h:outputLabel value="Definir Jerarquia"  style="font-size: 16px"/>
                                    <p:commandButton icon="id_agregar" id="ajax"  onclick="PF('dlg').show();" disabled="#{r_Proceso.estado}"  />
                                </h:panelGrid>
                                <p:dialog header="REGISTRAR NIVEL" widgetVar="dlg" resizable="false" modal="true">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputLabel for="niv" value="Nivel:" />
                                        <p:inputText id="niv" value="#{r_Proceso.nivel}" required="true" label="niv" />

                                        <f:facet name="footer">
                                            <p:commandButton value="INGRESAR" update="board,ajax" actionListener="#{r_Proceso.buttonAction}"
                                                             oncomplete="handleLoginRequest(xhr, status, args)" />
                                        </f:facet>  
                                    </h:panelGrid>
                                </p:dialog>

                                <script type="text/javascript">
                                    function handleLoginRequest(xhr, status, args) {
                                        if (args.validationFailed || !args.loggedIn) {
                                            PF('dlg').jq.effect("shake", {times: 5}, 100);
                                        } else {
                                            PF('dlg').hide();
                                            $('#loginLink').fadeOut();
                                        }
                                    }
                                </script>

                                <p:panelGrid columns="1" style="padding: 0px; min-height: 100%; min-width: 100%; margin-bottom: 15px">
                                    <p:dashboard id="board" model="#{r_Proceso.model}" binding="#{r_Proceso.dashboard}">


                                    </p:dashboard>
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="7">
                                
                                
                                <p:commandButton value="GUARDAR" style="float: right; font-size: 18px; height: 35px"
                                                 update="growl" actionListener="#{r_Proceso.accionGuardar}" >
                                
                                   
                                    
                                </p:commandButton>
                                
                                
                            </p:column>
                        </p:row>
                        
                         <p:row>
                            <p:column colspan="7">
                                
                                
                                <p:button value="VOLVER" outcome="Gestion_Procesos"/>
                                
                            </p:column>
                        </p:row>


                    </p:panelGrid>
                </h:form>


            </ui:define>

        </ui:composition>

    </h:body>>
</html>
