<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">
                 <f:metadata>
                     <f:viewParam name="nomp" value="#{r_Niveles.proceso}"/>
                    </f:metadata>
                
                <h:outputStylesheet name="css/E_niveles.css"/> 

                <h:form id="form" style="padding-bottom: 40px">           

                   
                    <p:growl id="growl" life="10000" />


                    <p:panelGrid columns="1" style="width: 1000px;margin: 0 auto">  


                       
                            <p:row>
                                <p:column colspan="1">
                                     <p:graphicImage name="Imagenes/Registrar_Niveles.png" width="1000"/>
                                </p:column>
                            </p:row>


                    

                        <p:row>
                            <h:panelGrid columns="3" cellspacing="2">

                            <p:outputLabel value="PROCESO" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value=":" style="display: block;font-size: 18px;font-weight: bold"/>
                            <p:outputLabel value="#{r_Niveles.proceso}" style="display: block;font-size: 18px"/>      
                            </h:panelGrid>
                        </p:row>

                        <p:row>
                            <p:commandButton icon="id_agregar" onclick="PF('dlg').show();" actionListener="#{r_Niveles.help}"/>

                            <p:accordionPanel  id="raiz" class="sinBordes" binding="#{r_Niveles.raiz}" activeIndex="null" > 

                            </p:accordionPanel>

                            <p:dialog header="REGISTRAR NIVEL" widgetVar="dlg" resizable="false" modal="true">
                                <h:panelGrid columns="2" cellpadding="5">
                                    <h:outputLabel for="niv" value="Nivel:" />
                                    <p:inputText id="niv" value="#{r_Niveles.valor}" required="true" label="niv" />

                                    <f:facet name="footer">
                                        <p:commandButton value="INGRESAR" update="raiz" actionListener="#{r_Niveles.processAction}"
                                                         oncomplete="handleLoginRequest(xhr, status, args)" />
                                    </f:facet>  
                                </h:panelGrid>
                            </p:dialog>

                            <script type="text/javascript">
                                function handleLoginRequest(xhr, status, args) {
                                    if (args.validationFailed || !args.loggedIn) {
                                        PF('dlg').jq.effect("shake", {times: 5}, 100);
                                    } else {
                                        PF('dlg').hide();
                                        $('#loginLink').fadeOut();
                                    }
                                }
                            </script>
                        </p:row>
                        <p:row>
                            <p:commandButton value="GUARDAR" style="float: right; font-size: 18px; height: 35px"
                                             update="growl"   actionListener="#{r_Niveles.accionGuardar}"  />
                        </p:row>
                    </p:panelGrid>

                </h:form>
            </ui:define>

        </ui:composition>

    </h:body>
</html>
