.conSombra
{
    background: #ffffff; 
    
    width: 400px; 
    height: auto;
    border: 1px solid #cccccc;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 0px -1px rgba(138,138,138,1);
    padding: 10px;
    
}

.titulosLabel
{
    opacity: 1; 
    padding: 5px;
    background: #000000 ;
    color: #ffffff;
    display:  block; 
    width: content-box;
    text-align: center;
}